
      
  #Aumentar {
    
    position: relative;top: 10%;
    font-weight: bold;
    background-color: #fff;   
    
  }
  #Aumentar:hover {    
    position: relative;top: 10%;
    font-weight: bold;
    background-color: #b68c5c;
    
    
  }